<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-view="Countdown" data-title="Days until next rent payment" data-end="01-Aug-2013 18:00:00"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="1 bd. rental prices near E2 8HJ" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="gross_yield" data-view="Number" data-title="Gross Yield" data-suffix="%" style="background-color:red"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="net_yield" data-view="Number" data-title="Net Yield" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Expenses" data-moreinfo="June 2013"></div>
    </li>


  </ul>
</div>
